* {
  background-color: blue;
}

#score {
  border: solid black 1px;
  border-radius: 25px;
  background-color: #FFFFFF;
  text-align: center;
}


#gameButton {
  border: solid black 1px;
  border-radius: 20px;
  background-color: #FFFFFF ; /*white*/
  text-align: center;
}

#timer {
  border: solid black 1px;
  border-radius: 20px;
  background-color: #FFFFFF; /*white*/
  text-align: center;
}

#newGame {
  border: solid black 1px;
  /*border-radius: 25px;*/
  /*background-color: #FFFFFF;*/
  text-align: center;
  border: none;
  color: black;
}

#question {
  border: solid black 1px;
  border-radius: 25px;
  background-color: #FFFFFF;
  text-align: center;
}

.col.s1 {
  border: solid black 1px;
  border-radius: 5px;
  padding: 1px;
  /*margin: 2px;*/
  background-color: #FFFFFF;
  text-align: center;
  min-height: 25px;
  min-width: 75px;
}
/*

.newGameClass {
  border: solid green 5px;
  border-radius: 5px;
  padding: 1px;
  margin: 2px;
  background-color: #FFFFFF;
  text-align: center;
}*/
