* {
  background-color: blue;
}

#score {
  border: solid black 1px;
  border-radius: 25px;
  background-color: #FFFFFF; /*white*/
  text-align: center;
}

#timer {
  border: solid black 1px;
  border-radius: 25px;
  background-color: #FFFFFF; /*white*/
  text-align: center;
}

#question {
  border: solid black 1px;
  border-radius: 25px;
  background-color: #FFFFFF; /*white*/
  text-align: center;
}

#firstname {
    background-color: yellow;
}

.col.s1 {
  border: solid black 1px;
  border-radius: 5px;
  padding: 1px;
  margin: 2px;
  background-color: #FFFFFF; /*white*/
  text-align: center;
  min-height: 25px;
  min-width: 50px;
}
